@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/estrellas.png);
  background-color: #e9c97c;
}

main {
  max-width: min-content;
  display: grid;
  pointer-events: none;
  height: 100%;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  z-index: -3;
}

.background-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}



.flip-card {
  position: relative;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  animation: cardAnimation 0.3s ease-in-out forwards ;
  animation-delay: var(--delay);
  opacity: 0;
}

/* When page start fade in the cards */
@keyframes cardAnimation {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-back,
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-back img,
.flip-card-front img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  height: auto;
}

.flip-card-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front {
  /* invert the y like if it was a mirror */
  transform: rotateY(0deg);
}

.flip-card-back img {
  width: 95%;
}

.please-turn-card {
  margin: 0;
  position: absolute;
  display: none;
  transform: scale(0.5);
  top: 0;
  left: 0;
  z-index: 10;
}

.alert {
  position: relative;
  top: 10;
  left: 0;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 400;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.warning {
  background-color: #fdf7df;
  border: 1px solid #feec6f;
  color: #c9971c;
}

.error {
  background-color: #fee;
  border: 1px solid #edd;
  color: #a66;
}

.you-won-card {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.modal-intro {
  width: 300px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.label-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  width: 150px;
  height: 15px;
  letter-spacing: 0.04em;
  background: #ff9900;
  box-shadow: 0px 6px 0px #a86500;
  border-radius: 20px;
  animation: changeOrder 6s infinite linear;
  cursor: pointer;
  user-select: none;
  position: absolute;
  transform: translate(-50%, -50%);
    opacity: 1;
  top: 60%;
  left: 50%;
}

/* Animation for changing order */

@keyframes changeOrder {
  from {
    z-index: 6;
  }
  to {
    z-index: 1;
  }
}

.you-won-card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.you-won-card button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.you-won-card a {
  text-decoration: none;
  color: #000;
}

/* responsive */

@media screen and (max-width: 768px) {
  .flip-card {
    width: 100px;
    height: 100px;
  }
  .flip-card-inner {
    border: 3px solid #fff;
  }
  .flip-card-back img,
  .flip-card-front img {
    max-height: 100%;
  }
  .you-won-card {
    width: 200px;
    height: 200px;
  }
  .you-won-card h1 {
    font-size: 1.5rem;
  }
  .you-won-card button {
    padding: 0.5rem 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  main {
    grid-gap: 5px;
  }
  .flip-card {
    width: 80px;
    height: 80px;
  }
  .flip-card-inner {
    border: 2px solid #fff;
  }
  .flip-card-back img,
  .flip-card-front img {
    max-height: 100%;
  }
  .you-won-card {
    width: 90%;
    height: 50%;
  }
  .you-won-card h1 {
    font-size: 1rem;
  }
  .you-won-card button {
    padding: 0.5rem 0.8rem;
  }
}

@media screen  and (max-width: 280px) {
  .flip-card {
    width: 60px;
    height: 60px;
  }
}